/**
 * @file
 * Visual styles for Base+'s how-it-works.
 */
.field--name-field-mt-hiw-item {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.field--name-field-mt-hiw-item:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 10px;
  left: 50%;
  margin-left: -5px;
  border-radius: 10px;
}
.region--default-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-default-contrast-value), 0.4) 0%, rgba(var(--mt-color-default-contrast-value), 0.4) 80%, rgba(var(--mt-color-default-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-default-contrast-value), 0.4) 0%,rgba(var(--mt-color-default-contrast-value), 0.4) 80%,rgba(var(--mt-color-default-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-default-contrast-value), 0.4) 0%,rgba(var(--mt-color-default-contrast-value), 0.4) 80%,rgba(var(--mt-color-default-contrast-value), 0) 100%);
}
.region--bright-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-bright-contrast-value), 0.4) 0%, rgba(var(--mt-color-bright-contrast-value), 0.4) 80%, rgba(var(--mt-color-bright-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-bright-contrast-value), 0.4) 0%,rgba(var(--mt-color-bright-contrast-value), 0.4) 80%,rgba(var(--mt-color-bright-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-bright-contrast-value), 0.4) 0%,rgba(var(--mt-color-bright-contrast-value), 0.4) 80%,rgba(var(--mt-color-bright-contrast-value), 0) 100%);
}
.region--pattern .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-pattern-contrast-value), 0.4) 0%, rgba(var(--mt-color-pattern-contrast-value), 0.4) 80%, rgba(var(--mt-color-pattern-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-pattern-contrast-value), 0.4) 0%,rgba(var(--mt-color-pattern-contrast-value), 0.4) 80%,rgba(var(--mt-color-pattern-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-pattern-contrast-value), 0.4) 0%,rgba(var(--mt-color-pattern-contrast-value), 0.4) 80%,rgba(var(--mt-color-pattern-contrast-value), 0) 100%);
}
.region--accent-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-accent-contrast-value), 0.4) 0%, rgba(var(--mt-color-accent-contrast-value), 0.4) 80%, rgba(var(--mt-color-accent-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-accent-contrast-value), 0.4) 0%,rgba(var(--mt-color-accent-contrast-value), 0.4) 80%,rgba(var(--mt-color-accent-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-accent-contrast-value), 0.4) 0%,rgba(var(--mt-color-accent-contrast-value), 0.4) 80%,rgba(var(--mt-color-accent-contrast-value), 0) 100%);
}
.region--tint-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-tint-contrast-value), 0.4) 0%, rgba(var(--mt-color-tint-contrast-value), 0.4) 80%, rgba(var(--mt-color-tint-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-tint-contrast-value), 0.4) 0%,rgba(var(--mt-color-tint-contrast-value), 0.4) 80%,rgba(var(--mt-color-tint-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-tint-contrast-value), 0.4) 0%,rgba(var(--mt-color-tint-contrast-value), 0.4) 80%,rgba(var(--mt-color-tint-contrast-value), 0) 100%);
}
.region--shade-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-shade-contrast-value), 0.4) 0%, rgba(var(--mt-color-shade-contrast-value), 0.4) 80%, rgba(var(--mt-color-shade-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-shade-contrast-value), 0.4) 0%,rgba(var(--mt-color-shade-contrast-value), 0.4) 80%,rgba(var(--mt-color-shade-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-shade-contrast-value), 0.4) 0%,rgba(var(--mt-color-shade-contrast-value), 0.4) 80%,rgba(var(--mt-color-shade-contrast-value), 0) 100%);
}
.region--colored-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-colored-contrast-value), 0.4) 0%, rgba(var(--mt-color-colored-contrast-value), 0.4) 80%, rgba(var(--mt-color-colored-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-colored-contrast-value), 0.4) 0%,rgba(var(--mt-color-colored-contrast-value), 0.4) 80%,rgba(var(--mt-color-colored-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-colored-contrast-value), 0.4) 0%,rgba(var(--mt-color-colored-contrast-value), 0.4) 80%,rgba(var(--mt-color-colored-contrast-value), 0) 100%);
}
.region--dark-colored-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 0%, rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 80%, rgba(var(--mt-color-dark-colored-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 0%,rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 80%,rgba(var(--mt-color-dark-colored-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 0%,rgba(var(--mt-color-dark-colored-contrast-value), 0.4) 80%,rgba(var(--mt-color-dark-colored-contrast-value), 0) 100%);
}
.region--dark-background .field--name-field-mt-hiw-item:before {
  background: -moz-linear-gradient(top, rgba(var(--mt-color-dark-contrast-value), 0.4) 0%, rgba(var(--mt-color-dark-contrast-value), 0.4) 80%, rgba(var(--mt-color-dark-contrast-value), 0) 100%);
  background: -webkit-linear-gradient(top, rgba(var(--mt-color-dark-contrast-value), 0.4) 0%,rgba(var(--mt-color-dark-contrast-value), 0.4) 80%,rgba(var(--mt-color-dark-contrast-value), 0) 100%);
  background: linear-gradient(to bottom, rgba(var(--mt-color-dark-contrast-value), 0.4) 0%,rgba(var(--mt-color-dark-contrast-value), 0.4) 80%,rgba(var(--mt-color-dark-contrast-value), 0) 100%);
}
.field--name-field-mt-hiw-item > .field__item {
  margin-bottom: 20px;
  position: relative;
}
.field--name-field-mt-hiw-item > .field__item:first-child {
  margin-top: 20px;
}
.field--name-field-mt-hiw-item > .field__item:before,
.field--name-field-mt-hiw-item > .field__item:after {
  content: " ";
  display: table;
}
.field--name-field-mt-hiw-item > .field__item:after {
  clear: both;
}
.field--name-field-mt-hiw-item > .field__item .how-it-works-item {
  width: 46%;
  float: left;
  position: relative;
  text-align: right;
}
.field--name-field-mt-hiw-item > .field__item .how-it-works__header h5 {
  margin: 0 0 5px;
}
.field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -25px;
  background-color: transparent;
  z-index: 100;
  border-radius: 100%;
  border-width: 3px;
  border-style: solid;
  line-height: 43px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.region--default-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-default-contrast);
}
.region--bright-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-bright-contrast);
}
.region--pattern .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-pattern-contrast);
}
.region--accent-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-accent-contrast);
}
.region--tint-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-tint-contrast);
}
.region--shade-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-shade-contrast);
}
.region--colored-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-colored-contrast);
}
.region--dark-colored-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-dark-colored-contrast);
}
.region--dark-background .field--name-field-mt-hiw-item .field__item .how-it-works__badge {
  border-color: var(--mt-color-dark-contrast);
}
.field--name-field-mt-hiw-item > .field__item:nth-child(2n) .how-it-works-item {
  float: right;
  text-align: left;
}
@media (min-width: 1200px) {
  .field--name-field-mt-hiw-item > .field__item .how-it-works-item {
    padding-right: 40px;
  }
  .field--name-field-mt-hiw-item > .field__item:nth-child(2n) .how-it-works-item {
    padding-left: 40px;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .field--name-field-mt-hiw-item:before {
    left: 15px;
  }
  .field--name-field-mt-hiw-item > .field__item .how-it-works-item {
    width: calc(100% - 50px);
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
  }
  .field--name-field-mt-hiw-item > .field__item .how-it-works__badge {
    left: -10px;
    margin-left: 0;
  }
  .field--name-field-mt-hiw-item > .field__item .how-it-works-item {
    float: right;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .page-container-border-enabled .field--name-field-mt-hiw-item {
    padding-left: 15px;
  }
  .page-container-border-enabled .field--name-field-mt-hiw-item:before {
    left: 30px;
  }
}
