/**
 * @file
 * Visual styles for Base+'s project content type.
 */
.node--view-mode-full.node--type-project .field--name-field-project__client-logo {
  margin-bottom: 2.25rem;
  text-align: center;
}
.node--view-mode-full.node--type-project .field--name-field-content {
  margin-bottom: 3.375rem;
}
