/**
 * @file
 * Visual styles for Base+'s node in hero view.
 */
.node--view-mode-mt-hero {
  margin-bottom: 40px;
}
.hero__section .node--view-mode-mt-hero {
  margin-top: 20px;
}
.node--view-mode-mt-hero h2.node__title {
  font-size: 56px;
}
.node--view-mode-mt-hero .node__meta {
  margin-bottom: 20px;
}
.node--view-mode-mt-hero .field--name-field-mt-pst-body {
  margin-bottom: 15px;
}
.node--view-mode-mt-hero .field--name-field-mt-pst-body > p:last-child {
  padding-bottom: 0;
}
.node--view-mode-mt-hero .profile {
  display: inline-block;
}
.node--view-mode-mt-hero .profile .field--name-user-picture {
  float: none;
  margin-right: 0;
  margin-bottom: 0;
}
.node--view-mode-mt-hero .field--name-user-picture img {
  border-radius: 100%;
  max-width: 40px;
  margin-right: 10px;
}
.node--view-mode-mt-hero .node__submitted {
  font-weight: 700;
  font-size: 16px;
}
.node--view-mode-mt-hero .node__submitted a {
  font-weight: 700;
}
.node--view-mode-mt-hero .slideshow-image__caption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 70%;
  max-width: 70%;
  z-index: 20;
}
.node--view-mode-mt-hero .field--name-field-mt-pst-slideshow-text {
  font-size: 14px;
}
.node--view-mode-mt-hero .field--name-field-mt-pst-slideshow-text h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
.node--view-mode-mt-hero .field--name-field-mt-pst-slideshow-text p:last-child {
  padding-bottom: 0;
}
.node--view-mode-mt-hero .node__comments-count {
  font-size: 12px;
}
.region--default-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-default-contrast-value), 0.75);
}
.region--bright-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-bright-contrast-value), 0.75);
}
.region--pattern .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-pattern-contrast-value), 0.75);
}
.region--accent-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-accent-contrast-value), 0.75);
}
.region--tint-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-tint-contrast-value), 0.75);
}
.region--shade-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-shade-contrast-value), 0.75);
}
.region--colored-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-colored-contrast-value), 0.75);
}
.region--dark-colored-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-dark-colored-contrast-value), 0.75);
}
.region--dark-background .node--view-mode-mt-hero .node__comments-count {
  color: rgba(var(--mt-color-dark-contrast-value), 0.75);
}
