/**
 * @file
 * Visual styles for Base+'s sticky footer.
 */
@media (min-width: 992px) {
  .sticky-footer-container {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 100;
  }
  .sticky-footer-container.sticky-footer-container--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .sticky-footer-container.slideToTop {
    -webkit-animation-name: fadeToTop;
    animation-name: fadeToTop;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeToTop {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeToTop {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }
  .sticky-footer-container.slideToBottom {
    -webkit-animation-name: fadeToBottom;
    animation-name: fadeToBottom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeToBottom {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  @keyframes fadeToBottom {
    0% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}
.sticky-footer {
  border-top-width: 1px;
  border-top-style: solid;
}
.collapsible-sticky-footer-trigger .mt-button {
  font-size: 22px;
  background-color: inherit;
  position: relative;
  top: 1px;
  padding: 12px 40px;
  border-width: 1px;
  box-shadow: none;
}
.collapsible-sticky-footer-trigger .mt-button:hover,
.collapsible-sticky-footer-trigger .mt-button:focus {
  color: var(--mt-color-base);
  border-color: var(--mt-color-base);
  padding-right: 40px;
  padding-left: 40px;
  border-width: 1px;
  box-shadow: none;
}
.collapsible-sticky-footer-trigger .mt-button:after,
.collapsible-sticky-footer-trigger .mt-button:hover:after,
.collapsible-sticky-footer-trigger .mt-button:focus:after {
  content: "";
  display: none;
}
.collapsible-sticky-footer-trigger .mt-button:focus {
  outline: 0px solid transparent;
}
.collapsible-sticky-footer-trigger .region--default-background.mt-button {
  color: var(--mt-color-default-contrast);
  border-color: rgba(var(--mt-color-default-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--bright-background.mt-button {
  color: var(--mt-color-bright-contrast);
  border-color: rgba(var(--mt-color-bright-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--pattern.mt-button {
  color: var(--mt-color-pattern-contrast);
  border-color: rgba(var(--mt-color-pattern-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--accent-background.mt-button {
  color: var(--mt-color-accent-contrast);
  border-color: rgba(var(--mt-color-accent-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--tint-background.mt-button {
  color: var(--mt-color-tint-contrast);
  border-color: rgba(var(--mt-color-tint-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--shade-background.mt-button {
  color: var(--mt-color-shade-contrast);
  border-color: rgba(var(--mt-color-shade-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--colored-background.mt-button {
  color: var(--mt-color-colored-contrast);
  border-color: rgba(var(--mt-color-colored-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--dark-colored-background.mt-button {
  color: var(--mt-color-dark-colored-contrast);
  border-color: rgba(var(--mt-color-dark-colored-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .region--dark-background.mt-button {
  color: var(--mt-color-dark-contrast);
  border-color: rgba(var(--mt-color-dark-contrast-value), 0.3);
}
.collapsible-sticky-footer-trigger .mt-button.collapsed .collapsible-sticky-footer__collapse-icon {
  display: inline-block;
}
.collapsible-sticky-footer-trigger .mt-button.collapsed .collapsible-sticky-footer__expand-icon {
  display: none;
}
.collapsible-sticky-footer-trigger .mt-button .collapsible-sticky-footer__expand-icon {
  display: inline-block;
}
.collapsible-sticky-footer-trigger .mt-button .collapsible-sticky-footer__collapse-icon {
  display: none;
}
