/**
 * @file
 * Font Families.
 */

 :root {
  --mt-ff-01: 'Merriweather', Georgia, 'Times New Roman', Serif;
  --mt-ff-02: 'Source Sans Pro', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-03: 'Ubuntu', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-04: 'PT Sans', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-05: 'Roboto', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-06: 'Open Sans', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-07: 'Lato', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-08: 'Roboto Condensed', 'Arial Narrow', Arial, Sans-serif;
  --mt-ff-09: 'Exo', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-10: 'Roboto Slab', 'Trebuchet MS', Sans-serif;
  --mt-ff-11: 'Raleway', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-12: 'Josefin Sans', Georgia, 'Times New Roman', Serif;
  --mt-ff-13: Georgia, 'Times New Roman', Serif;
  --mt-ff-14: 'Playfair Display', 'Times New Roman', Serif;
  --mt-ff-15: 'Philosopher', Georgia, 'Times New Roman', Serif;
  --mt-ff-17: 'Oswald', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-16: 'Cinzel', Georgia, 'Times New Roman', Serif;
  --mt-ff-18: 'Playfair Display SC', Georgia, 'Times New Roman', Serif;
  --mt-ff-19: 'Cabin', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-20: 'Noto Sans', Arial, 'Helvetica Neue', Sans-serif;
  --mt-ff-21: 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-22: 'Droid Serif', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-23: 'PT Serif', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-24: 'Vollkorn', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-25: 'Alegreya', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-26: 'Noto Serif', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-27: 'Crimson Text', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-28: 'Gentium Book Basic', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-29: 'Volkhov', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-31: 'Alegreya SC', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-32: 'Montserrat', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-33: 'Fira Sans', 'Helvetica Neue', Arial, Sans-serif;
  --mt-ff-34: 'Lora', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-35: 'Quattrocento Sans', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-36: 'Julius Sans One', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-37: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-38: 'Open Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-39: 'PT Sans Narrow', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-40: 'Archivo Narrow', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-41: 'Ubuntu Condensed', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-42: 'Arimo', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-43: 'Libre Franklin', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-44: 'Cantata One', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-45: 'Zilla Slab', Georgia, Times, 'Times New Roman', Serif;
  --mt-ff-46: 'Nunito Sans', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-47: 'Muli', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-48: 'Encode Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-49: 'Barlow', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-50: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, Ubuntu, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --mt-ff-51: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-52: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-53: 'Barlow Semi Condensed', 'Helvetica Neue', Arial, sans-serif;
  --mt-ff-54: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

body.pff-01 {
  --mt-pff: var(--mt-ff-01);
}
body.hff-01 {
  --mt-hff: var(--mt-ff-01);
}
body.sff-01 {
  --mt-sff: var(--mt-ff-01);
}
body.slff-01 {
  --mt-slff: var(--mt-ff-01);
}

body.pff-02 {
  --mt-pff: var(--mt-ff-02);
}
body.hff-02 {
  --mt-hff: var(--mt-ff-02);
}
body.sff-02 {
  --mt-sff: var(--mt-ff-02);
}
body.slff-02 {
  --mt-slff: var(--mt-ff-02);
}

body.pff-03 {
  --mt-pff: var(--mt-ff-03);
}
body.hff-03 {
  --mt-hff: var(--mt-ff-03);
}
body.sff-03 {
  --mt-sff: var(--mt-ff-03);
}
body.slff-03 {
  --mt-slff: var(--mt-ff-03);
}

body.pff-04 {
  --mt-pff: var(--mt-ff-04);
}
body.hff-04 {
  --mt-hff: var(--mt-ff-04);
}
body.sff-04 {
  --mt-sff: var(--mt-ff-04);
}
body.slff-04 {
  --mt-slff: var(--mt-ff-04);
}

body.pff-05 {
  --mt-pff: var(--mt-ff-05);
}
body.hff-05 {
  --mt-hff: var(--mt-ff-05);
}
body.sff-05 {
  --mt-sff: var(--mt-ff-05);
}
body.slff-05 {
  --mt-slff: var(--mt-ff-05);
}

body.pff-06 {
  --mt-pff: var(--mt-ff-06);
}
body.hff-06 {
  --mt-hff: var(--mt-ff-06);
}
body.sff-06 {
  --mt-sff: var(--mt-ff-06);
}
body.slff-06 {
  --mt-slff: var(--mt-ff-06);
}

body.pff-07 {
  --mt-pff: var(--mt-ff-07);
}
body.hff-07 {
  --mt-hff: var(--mt-ff-07);
}
body.sff-07 {
  --mt-sff: var(--mt-ff-07);
}
body.slff-07 {
  --mt-slff: var(--mt-ff-07);
}

body.pff-08 {
  --mt-pff: var(--mt-ff-08);
}
body.hff-08 {
  --mt-hff: var(--mt-ff-08);
}
body.sff-08 {
  --mt-sff: var(--mt-ff-08);
}
body.slff-08 {
  --mt-slff: var(--mt-ff-08);
}

body.pff-09 {
  --mt-pff: var(--mt-ff-09);
}
body.hff-09 {
  --mt-hff: var(--mt-ff-09);
}
body.sff-09 {
  --mt-sff: var(--mt-ff-09);
}
body.slff-09 {
  --mt-slff: var(--mt-ff-09);
}

body.pff-10 {
  --mt-pff: var(--mt-ff-10);
}
body.hff-10 {
  --mt-hff: var(--mt-ff-10);
}
body.sff-10 {
  --mt-sff: var(--mt-ff-10);
}
body.slff-10 {
  --mt-slff: var(--mt-ff-10);
}

body.pff-11 {
  --mt-pff: var(--mt-ff-11);
}
body.hff-11 {
  --mt-hff: var(--mt-ff-11);
}
body.sff-11 {
  --mt-sff: var(--mt-ff-11);
}
body.slff-11 {
  --mt-slff: var(--mt-ff-11);
}

body.pff-12 {
  --mt-pff: var(--mt-ff-12);
}
body.hff-12 {
  --mt-hff: var(--mt-ff-12);
}
body.sff-12 {
  --mt-sff: var(--mt-ff-12);
}
body.slff-12 {
  --mt-slff: var(--mt-ff-12);
}

body.pff-13 {
  --mt-pff: var(--mt-ff-13);
}
body.hff-13 {
  --mt-hff: var(--mt-ff-13);
}
body.sff-13 {
  --mt-sff: var(--mt-ff-13);
}
body.slff-13 {
  --mt-slff: var(--mt-ff-13);
}

body.pff-14 {
  --mt-pff: var(--mt-ff-14);
}
body.hff-14 {
  --mt-hff: var(--mt-ff-14);
}
body.sff-14 {
  --mt-sff: var(--mt-ff-14);
}
body.slff-14 {
  --mt-slff: var(--mt-ff-14);
}

body.pff-15 {
  --mt-pff: var(--mt-ff-15);
}
body.hff-15 {
  --mt-hff: var(--mt-ff-15);
}
body.sff-15 {
  --mt-sff: var(--mt-ff-15);
}
body.slff-15 {
  --mt-slff: var(--mt-ff-15);
}

body.hff-16 {
  --mt-hff: var(--mt-ff-16);
}
body.sff-16 {
  --mt-sff: var(--mt-ff-16);
}
body.slff-16 {
  --mt-slff: var(--mt-ff-16);
}

body.pff-17 {
  --mt-pff: var(--mt-ff-17);
}
body.hff-17 {
  --mt-hff: var(--mt-ff-17);
}
body.sff-17 {
  --mt-sff: var(--mt-ff-17);
}
body.slff-17 {
  --mt-slff: var(--mt-ff-17);
}

body.pff-18 {
  --mt-pff: var(--mt-ff-18);
}
body.hff-18 {
  --mt-hff: var(--mt-ff-18);
}
body.sff-18 {
  --mt-sff: var(--mt-ff-18);
}
body.slff-18 {
  --mt-slff: var(--mt-ff-18);
}

body.pff-19 {
  --mt-pff: var(--mt-ff-19);
}
body.hff-19 {
  --mt-hff: var(--mt-ff-19);
}
body.sff-19 {
  --mt-sff: var(--mt-ff-19);
}
body.slff-19 {
  --mt-slff: var(--mt-ff-19);
}

body.pff-20 {
  --mt-pff: var(--mt-ff-20);
}
body.hff-20 {
  --mt-hff: var(--mt-ff-20);
}
body.sff-20 {
  --mt-sff: var(--mt-ff-20);
}
body.slff-20 {
  --mt-slff: var(--mt-ff-20);
}

body.pff-21 {
  --mt-pff: var(--mt-ff-21);
}
body.hff-21 {
  --mt-hff: var(--mt-ff-21);
}
body.sff-21 {
  --mt-sff: var(--mt-ff-21);
}
body.slff-21 {
  --mt-slff: var(--mt-ff-21);
}

body.pff-22 {
  --mt-pff: var(--mt-ff-22);
}
body.hff-22 {
  --mt-hff: var(--mt-ff-22);
}
body.sff-22 {
  --mt-sff: var(--mt-ff-22);
}
body.slff-22 {
  --mt-slff: var(--mt-ff-22);
}

body.pff-23 {
  --mt-pff: var(--mt-ff-23);
}
body.hff-23 {
  --mt-hff: var(--mt-ff-23);
}
body.sff-23 {
  --mt-sff: var(--mt-ff-23);
}
body.slff-23 {
  --mt-slff: var(--mt-ff-23);
}

body.pff-24 {
  --mt-pff: var(--mt-ff-24);
}
body.hff-24 {
  --mt-hff: var(--mt-ff-24);
}
body.sff-24 {
  --mt-sff: var(--mt-ff-24);
}
body.slff-24 {
  --mt-slff: var(--mt-ff-24);
}

body.pff-25 {
  --mt-pff: var(--mt-ff-25);
}
body.hff-25 {
  --mt-hff: var(--mt-ff-25);
}
body.sff-25 {
  --mt-sff: var(--mt-ff-25);
}
body.slff-25 {
  --mt-slff: var(--mt-ff-25);
}

body.pff-26 {
  --mt-pff: var(--mt-ff-26);
}
body.hff-26 {
  --mt-hff: var(--mt-ff-26);
}
body.sff-26 {
  --mt-sff: var(--mt-ff-26);
}
body.slff-26 {
  --mt-slff: var(--mt-ff-26);
}

body.pff-27 {
  --mt-pff: var(--mt-ff-27);
}
body.hff-27 {
  --mt-hff: var(--mt-ff-27);
}
body.sff-27 {
  --mt-sff: var(--mt-ff-27);
}
body.slff-27 {
  --mt-slff: var(--mt-ff-27);
}

body.pff-28 {
  --mt-pff: var(--mt-ff-28);
}
body.hff-28 {
  --mt-hff: var(--mt-ff-28);
}
body.sff-28 {
  --mt-sff: var(--mt-ff-28);
}
body.slff-28 {
  --mt-slff: var(--mt-ff-28);
}

body.pff-29 {
  --mt-pff: var(--mt-ff-29);
}
body.hff-29 {
  --mt-hff: var(--mt-ff-29);
}
body.sff-29 {
  --mt-sff: var(--mt-ff-29);
}
body.slff-29 {
  --mt-slff: var(--mt-ff-29);
}

body.hff-31 {
  --mt-hff: var(--mt-ff-31);
}
body.sff-31 {
  --mt-sff: var(--mt-ff-31);
}
body.slff-31 {
  --mt-slff: var(--mt-ff-31);
}

body.pff-32 {
  --mt-pff: var(--mt-ff-32);
}
body.hff-32 {
  --mt-hff: var(--mt-ff-32);
}
body.sff-32 {
  --mt-sff: var(--mt-ff-32);
}
body.slff-32 {
  --mt-slff: var(--mt-ff-32);
}

body.pff-33 {
  --mt-pff: var(--mt-ff-33);
}
body.hff-33 {
  --mt-hff: var(--mt-ff-33);
}
body.sff-33 {
  --mt-sff: var(--mt-ff-33);
}
body.slff-33 {
  --mt-slff: var(--mt-ff-33);
}

body.pff-34 {
  --mt-pff: var(--mt-ff-34);
}
body.hff-34 {
  --mt-hff: var(--mt-ff-34);
}
body.sff-34 {
  --mt-sff: var(--mt-ff-34);
}
body.slff-34 {
  --mt-slff: var(--mt-ff-34);
}

body.pff-35 {
  --mt-pff: var(--mt-ff-35);
}
body.hff-35 {
  --mt-hff: var(--mt-ff-35);
}
body.sff-35 {
  --mt-sff: var(--mt-ff-35);
}
body.slff-35 {
  --mt-slff: var(--mt-ff-35);
}

body.hff-36 {
  --mt-hff: var(--mt-ff-36);
}
body.sff-36 {
  --mt-sff: var(--mt-ff-36);
}
body.slff-36 {
  --mt-slff: var(--mt-ff-36);
}

body.pff-37 {
  --mt-pff: var(--mt-ff-37);
}
body.hff-37 {
  --mt-hff: var(--mt-ff-37);
}
body.sff-37 {
  --mt-sff: var(--mt-ff-37);
}
body.slff-37 {
  --mt-slff: var(--mt-ff-37);
}

body.pff-38 {
  --mt-pff: var(--mt-ff-38);
}
body.hff-38 {
  --mt-hff: var(--mt-ff-38);
}
body.sff-38 {
  --mt-sff: var(--mt-ff-38);
}
body.slff-38 {
  --mt-slff: var(--mt-ff-38);
}

body.pff-39 {
  --mt-pff: var(--mt-ff-39);
}
body.hff-39 {
  --mt-hff: var(--mt-ff-39);
}
body.sff-39 {
  --mt-sff: var(--mt-ff-39);
}
body.slff-39 {
  --mt-slff: var(--mt-ff-39);
}

body.pff-40 {
  --mt-pff: var(--mt-ff-40);
}
body.hff-40 {
  --mt-hff: var(--mt-ff-40);
}
body.sff-40 {
  --mt-sff: var(--mt-ff-40);
}
body.slff-40 {
  --mt-slff: var(--mt-ff-40);
}

body.pff-41 {
  --mt-pff: var(--mt-ff-41);
}
body.hff-41 {
  --mt-hff: var(--mt-ff-41);
}
body.sff-41 {
  --mt-sff: var(--mt-ff-41);
}
body.slff-41 {
  --mt-slff: var(--mt-ff-41);
}

body.pff-42 {
  --mt-pff: var(--mt-ff-42);
}
body.hff-42 {
  --mt-hff: var(--mt-ff-42);
}
body.sff-42 {
  --mt-sff: var(--mt-ff-42);
}
body.slff-42 {
  --mt-slff: var(--mt-ff-42);
}

body.pff-43 {
  --mt-pff: var(--mt-ff-43);
}
body.hff-43 {
  --mt-hff: var(--mt-ff-43);
}
body.sff-43 {
  --mt-sff: var(--mt-ff-43);
}
body.slff-43 {
  --mt-slff: var(--mt-ff-43);
}

body.pff-44 {
  --mt-pff: var(--mt-ff-44);
}
body.hff-44 {
  --mt-hff: var(--mt-ff-44);
}
body.sff-44 {
  --mt-sff: var(--mt-ff-44);
}
body.slff-44 {
  --mt-slff: var(--mt-ff-44);
}

body.pff-45 {
  --mt-pff: var(--mt-ff-45);
}
body.hff-45 {
  --mt-hff: var(--mt-ff-45);
}
body.sff-45 {
  --mt-sff: var(--mt-ff-45);
}
body.slff-45 {
  --mt-slff: var(--mt-ff-45);
}

body.pff-46 {
  --mt-pff: var(--mt-ff-46);
}
body.hff-46 {
  --mt-hff: var(--mt-ff-46);
}
body.sff-46 {
  --mt-sff: var(--mt-ff-46);
}
body.slff-46 {
  --mt-slff: var(--mt-ff-46);
}

body.pff-47 {
  --mt-pff: var(--mt-ff-47);
}
body.hff-47 {
  --mt-hff: var(--mt-ff-47);
}
body.sff-47 {
  --mt-sff: var(--mt-ff-47);
}
body.slff-47 {
  --mt-slff: var(--mt-ff-47);
}

body.pff-48 {
  --mt-pff: var(--mt-ff-48);
}
body.hff-48 {
  --mt-hff: var(--mt-ff-48);
}
body.sff-48 {
  --mt-sff: var(--mt-ff-48);
}
body.slff-48 {
  --mt-slff: var(--mt-ff-48);
}

body.pff-49 {
  --mt-pff: var(--mt-ff-49);
}
body.hff-49 {
  --mt-hff: var(--mt-ff-49);
}
body.sff-49 {
  --mt-sff: var(--mt-ff-49);
}
body.slff-49 {
  --mt-slff: var(--mt-ff-49);
}

body.pff-50 {
  --mt-pff: var(--mt-ff-50);
}
body.hff-50 {
  --mt-hff: var(--mt-ff-50);
}
body.sff-50 {
  --mt-sff: var(--mt-ff-50);
}
body.slff-50 {
  --mt-slff: var(--mt-ff-50);
}

body.pff-51 {
  --mt-pff: var(--mt-ff-51);
}
body.hff-51 {
  --mt-hff: var(--mt-ff-51);
}
body.sff-51 {
  --mt-sff: var(--mt-ff-51);
}
body.slff-51 {
  --mt-slff: var(--mt-ff-51);
}

body.pff-52 {
  --mt-pff: var(--mt-ff-52);
}
body.hff-52 {
  --mt-hff: var(--mt-ff-52);
}
body.sff-52 {
  --mt-sff: var(--mt-ff-52);
}
body.slff-52 {
  --mt-slff: var(--mt-ff-52);
}

body.pff-53 {
  --mt-pff: var(--mt-ff-53);
}
body.hff-53 {
  --mt-hff: var(--mt-ff-53);
}
body.sff-53 {
  --mt-sff: var(--mt-ff-53);
}
body.slff-53 {
  --mt-slff: var(--mt-ff-53);
}

body.pff-54 {
  --mt-pff: var(--mt-ff-54);
}
body.hff-54 {
  --mt-hff: var(--mt-ff-54);
}
body.sff-54 {
  --mt-sff: var(--mt-ff-54);
}
body.slff-54 {
  --mt-slff: var(--mt-ff-54);
}

h1,
h2,
h3,
h4,
h5,
h6,
.tp-caption__title,
.tp-caption__subtitle,
.field--name-field-mt-highlight-title,
.nav-tab__title,
.views-field-field-mt-price,
a.mt-button,
.mt-button > a,
input[type='submit'],
input[type='reset'],
input[type='button'],
.field--name-field-mt-prd-buy-link,
.field--name-field-mt-srv-link,
.field--name-field-mt-highlight-link,
.page-node-type-mt-product .page-title,
.field__label,
.field--name-field-mt-fg-group-title.field,
.field--name-field-mt-hero-v2-title,
.field--name-field-mt-hero-form-title {
  font-family: var(--mt-hff);
}

:root body {
  font-family: var(--mt-pff);
}

:root body .site-name {
  font-family: var(--mt-sff);
}

:root body .site-slogan {
  font-family: var(--mt-slff);
}
